

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Red+Hat+Display:wght@500&display=swap');

html, body, [class*="css"] {
    font-family: 'Manrope', 'Poppins','Red Hat Display','Circular Std'; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}